*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  html{
    width: 100%;
    height: 100%;
  }
  
  
  :root {
    font-family: "Urbanist", sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    --buttonColor: #2a2c30;
    --secondaryColor: #4b4f56;
    --borderColor: #e3eaf0;
    --backgroundColor: #f7f7f7;
    --backgroundSecondary: #fefefe;
    --textColor: #1e1f23;
    --anchorColor: #535bf2;
    --main-color: #535bf2;
    --supporting-color: #ebf3fe;
    --glow-color: hsl(186, 91%, 4%);
  }
  
  html {
    font-size: 62.5%;
    color: var(--textColor);
  }
  


  
/** CSS for toast notifications */
.toast {
  position: fixed;
  top: 2rem;
  right: 1.4rem;
  background-color: var(--buttonColor);
  color: #000000;
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 5px;
  border-bottom: 0;
  background-color:aquamarine;
  border-color: rgb(0, 0, 0);
  font-size: 2rem;
  z-index: 1000;
  font-family: "urbanist";
  animation: toastAnimation 2s linear;
  -webkit-animation: toastAnimation 2s linear;
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
}

@keyframes toastAnimation {
  0% {
    transform: translateX(100%);
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  20% {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
  
  .container{
    
    width: 100%;
    /* height: 30vh; */
    padding: 0vw 4vw;
  }
  .sigining{
    padding: 1vw;
    
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.855);
  }
  
  .sign{
  
    padding: 0.6vw;
    font-size: larger;
    background-color: chartreuse;
    color:brown;
  }
  
  .header-text{
       font-size: 1.5vw;
       color: white;
  }
  
  .nav-bar{
    display: flex;
    justify-content: space-between;
  }
  .nav-logo{
    width: 20vw;
    height: 10vh;
  }
  
  .nav-links{
    display: flex;
    gap: 4vw;
    font-size: 3vh;
    padding: 1vw 3vh;
  }
  .nav-links a{
    text-decoration: none;
  }
  .menu-bar{
    display: none;
  }
  
  .hero-section{
    background-color: #d9e9ff;
    width: 100%;
    min-height: calc(100vh - 145px);
   
    background-image: white;
    display: flex;
    padding: 3vw;
    gap: 2vw;
  }

  .left{
    width: 70%;
    /* background-color: red; */
  }
  .right{
    height: 40vh;
    border: 2px solid black;
    padding: 4vw;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .right h1{
    display: flex;
    justify-content: space-between;
  }


  
#productCartContainer {
    display: flex;
    flex-direction: column;
  
    & .cards {
      width: 100%;
      max-width: 100%;
      margin: 0;
      box-shadow: 0 0;
      border-top: 0.1rem solid #d8d8d8;
      border-right: 0.1rem solid #d8d8d8;
      border-left: 0.1rem solid #d8d8d8;
      border-radius: 0;
      &:last-child {
        border-bottom: 0.1rem solid #d8d8d8;
      }
    }
  
    & .card {
      width: 100%;
      display: grid;
      grid-template-columns: 0.5fr 0.5fr 1fr 0.5fr 1fr 1fr;
      align-items: center; /* margin: auto; */
      gap: 3.2rem;
    }
  
    & .productImage {
      width: 16rem;
    }
  
    & .productName {
      font-size: 2rem;
    }
  
    & .productPrice {
      font-size: 1.6rem;
    }
  
    & .productActualPrice {
      font-size: 1.6rem;
    }
  }
  
  .category {
    background-color: #e7d6d6;
    padding: 0.3rem 1.2rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
  }
  
  .productRating {
    color: #e9db16;
  }
  
  .productPrice,
  .productActualPrice {
    font-size: 2.2rem;
  }
  
  .productActualPrice {
    text-decoration: line-through;
  }
  
  .productCartTotalElem {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 3.2rem;
  }
  
  .productCartTotalElement {
    padding: 2.4rem;
    background-color: var(--backgroundSecondary);
    height: auto;
    width: 62rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }
  
  /* https://getbootstrap.com/docs/5.0/layout/breakpoints/ */
  
/*****  Add to Cart page starts *****/

#productCartContainer {
    display: flex;
    flex-direction: column;
  
    & .cards {
      width: 100%;
      max-width: 100%;
      margin: 0;
      box-shadow: 0 0;
      border-top: 0.1rem solid #d8d8d8;
      border-right: 0.1rem solid #d8d8d8;
      border-left: 0.1rem solid #d8d8d8;
      border-radius: 0;
      &:last-child {
        border-bottom: 0.1rem solid #d8d8d8;
      }

      
    }
  
    & .card {
      width: 100%;
      display: grid;
      grid-template-columns: 0.5fr 0.5fr 1fr 0.5fr 1fr 1fr;
      align-items: center; /* margin: auto; */
      padding: 3vw;
      gap: 8vw;
      /* gap: 4rem; */
     
      border: #000000 solid 1px;
      background-color:rgba(255, 192, 203, 0.308);
    }
  
    & .productImage {
      width: 16rem;
    }
  
    & .productName {
      font-size: 2rem;
    }
  
    & .productPrice {
      font-size: 1.6rem;
    }
  
    & .productActualPrice {
      font-size: 1.6rem;
    }
  }
  
  .category {
    background-color: #e7d6d6;
    padding: 0.3rem 1.2rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
  }
  
  .productRating {
    color: #e9db16;
  }
  
  .productPrice,
  .productActualPrice {
    font-size: 2vw;
  }
  
  .productActualPrice {
    text-decoration: line-through;
  }
  
  .productCartTotalElem {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 8rem;
    margin-bottom: 12rem;

  }
  
  .productCartTotalElement {
    padding: 2.4rem;
    background-color: var(--backgroundSecondary);
    height: 30rem;
    width: 40rem;
    font-size: large;
    font-weight: 900;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

  }
  
  .productOrderTotal {
    /* background-color: rgb(60, 60, 60); */
    max-width: 30rem;
  
    & div {
      display: flex;
      justify-content: space-between;
     
      margin-top: 3.2rem;
  
      p {
        color: #8c9299;
      }
  
      .productSubTotal,
      .productFinalTotal,
      .productTax {
        
        color: var(--textColor);
        font-weight: bold;
      }
    }
  }
  .cart-container-name-image{
    display: flex;
    gap: 5vw;
    align-items: center;
  }
  .stockElement{
    padding: 1vw;
    display: flex;
    gap: 5vw;
    font-size: 1.5vw;
  }
  .stockElement>div{
    display: flex;
    gap: 2vw;
    font-weight: 600;
    align-items: center;
  }
  .cartIncrement,.cartDecrement{
    width: 3vw;
    height: 1.5vw;
    font-weight: 800;


  }
   
  .productPrice{
    height: 100%;
    font-size: 39vw;
    font-weight: 600;
  }
 

  .productPrice::before {
    content: "₹"; /* Adds the rupee sign */
    margin-right: 4px; /* Optional: Adds some space between the rupee sign and the price */
    font-weight: bold; /* Optional: Makes the rupee sign bold for emphasis */
    font-size: inherit; /* Matches the font size of the price */
    color: inherit; /* Matches the color of the price */
  }
  
  
@media (width <= 1380px) {
    html {
      font-size: 56.25%;
    }
  
    .section-hero img {
      width: 90%;
    }
  }
  
  @media (width <= 1220px) {
    html {
      font-size: 54%;
    }
  
    :is(
        .section-about,
        .section-blog,
        .section-course,
        .section-contact--homepage,
        .section-why--choose
      )
      .grid {
      gap: 6.4rem;
    }
  
    .choose-center-div figure::after {
      width: 46rem;
      height: 46rem;
    }
  }
  
  @media (width <= 1100px) {
    .grid-four--cols {
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }
  
    .custom-shape-divider-bottom-1696038172 svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 8rem;
    }
  
    .section-why--choose {
      & .choose-left-div {
        order: 2;
      }
      & .choose-center-div {
        order: 1;
  
        & figure::before {
          width: 0;
          height: 0;
          background-color: transparent;
          display: none;
        }
  
        & figure::after {
          width: 0;
          height: 0;
          background-color: transparent;
          display: none;
        }
      }
      & .choose-right-div {
        order: 3;
      }
    }
  
    .contact-title {
      font-size: 2.4rem;
    }
  
    .section-contact .grid-two--cols {
      grid-template-columns: 2fr 1.5fr;
      gap: 3.2rem;
    }
  }
  
  @media (width <= 980px) {
    body {
      padding: 0 0.6rem;
    }
  
    .section-products #productContainer {
      grid-template-columns: repeat(2, minmax(33%, 1fr));
    }
  
    .section-hero .hero-heading {
      font-size: 4.4rem;
    }
  
    footer {
      padding: 0 1.6rem;
    }
  
    .footer-container {
      display: grid;
      grid-template-columns: repeat(2, minmax(33%, 1fr));
  
      & .content_1 {
        grid-column: 1 / -1;
        margin-bottom: 3.2rem;
      }
  
      & .content_4 {
        margin-top: 3.2rem;
      }
    }
  
    main .section-hero {
      height: auto;
  
      & .grid-two--cols {
        grid-template-columns: 1fr;
      }
    }
  
    .section-hero .section-hero--content {
      order: 2;
    }
  
    .section-hero .section-hero-image {
      display: grid;
      place-items: center;
      & figure {
        display: grid;
        place-items: center;
      }
    }
  
    .section-hero img {
      width: 40%;
    }
  
    .section-about .about-div {
      text-align: left;
      padding: 0;
    }
  }
  
  @media (width <= 768px) {
    .grid-two--cols {
      grid-template-columns: 1fr;
    }
  
    .section-contact .grid-two--cols {
      grid-template-columns: 1fr;
    }
  
    .grid-three--cols {
      grid-template-columns: 1fr;
    }
  
    .section-hero .hero-heading {
      font-size: 4.2rem;
    }
  
    .section-products #productContainer {
      grid-template-columns: repeat(1, minmax(33%, 1fr));
    }
  
    #productCartContainer .card {
      width: 100%;
      display: grid;
      /* grid-template-columns: 0.5fr 0.5fr 1fr 0.5fr 1fr 1fr; */
      grid-template-columns: 0.5fr 0.1fr repeat(2, 1fr);
      align-items: center;
      /* margin: auto; */
      gap: 3.2rem;
    }
  
    .productQuantity {
      text-align: center;
    }
  
    .stockElement {
      grid-column: 1 / 4;
    }
  
    .remove-to-cart-button {
   
      grid-column: 4 / -1;
    }
  
    /* footer .grid-four--cols {
      grid-template-columns: repeat(1, minmax(100%, 1fr));
      text-align: center;
    } */
  
    .section-navbar .container {
      flex-direction: column;
      gap: 3.2rem;
    }
  
    .section-why--choose {
      & img {
        width: 30%;
      }
  
      & .grid {
        gap: 1.4rem;
      }
  
      & .text-align--right .why-choose--div {
        align-items: flex-start;
      }
  
      & .choose-left-div {
        text-align: left;
      }
    }
  
    .section-contact--homepage .btn {
      display: block;
      text-align: center;
    }
  
    :is(.section-contact--homepage) .container:first-child {
      padding: 6.4rem 0rem 2.4rem 0rem;
    }
  }


  
  .remove-to-cart-button {
   width: 10vw;
   height: 2vw;
  }


  @media (max-width:1280px) {
    .container{
    
      width: 100%;
      height: 30vh;
      padding: 0vw;
    }
    .header-text{
      padding-top: 1.2vw;
      font-size: 3vw;
      width: 65%;
  
    }
    .sigining{
      padding: 3vw;
      display: flex;
      justify-content: space-between;
      background-color: rgba(0, 0, 0, 0.855);
      
    }
    
    .sign{
    
      padding: 1vw;
      font-size: 3vw;
      background-color: chartreuse;
      color:brown;
    }
    .nav-links > a{
      display: none;
    }
    .menu-bar{
      display: inline-block;
    }
    .fa-bars,.fa-cart-shopping{
        padding: 3vw;
        
    }
    .cart{
      display: flex;
      justify-content:space-between;
    }
    .nav-logo{
      width: 45vw;
      height: auto;
      
    }
    .logo-container{
      padding-top: 1vw;
      padding-left: 3vw;
    };
    .fa-solid{
      font-size: 3vw;
    }
    .search-continer{
      display: flex;
      width: 100%;
      height: 6vw;
      padding: 2vw 4vw;
    }
    .search-container{
      display: flex;
      width: 100%;
      height: 6vw;
      padding: 2vw 4vw;
    }
  
    .fa-magnifying-glass{
      margin: 2vw;
    }
  
    #search-bar{
      border: none;
    }
    .search-continer{
      
      height: 12vw;
      border: 2px solid black;
    }
    #search-holder{
      padding: 3vw;
    }
  
   
  }
  
  
  footer{
    /* padding: 1vw; */
    margin-top: 2vw;
    height: 49vh;
    width: 92%;
    background-color: rgb(0, 0, 0);
    display: flex;
    margin: 2vw 4%;
  
  }
  .footer-content{
  
    color: white;
    display: flex;
    flex-direction: column;
    
  }
  
  .footer-logo-div1>img{
    width:15vw;
  }
  .main-footer{
    display: flex;
    justify-content: space-between;
    gap: 4vw;
    padding: 3vw;
  }
  
  .footer-divisions{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
  }
  .footer1{
    display: flex;
    flex-direction: column;
    justify-content:unset;
    gap: 3vh;
    width: 50%;
    word-wrap:break-word;
    
  }
  
  .company-footer{
    background-color: #000000;
    /* margin-top: 4vh; */
    height: 5vh;
    width: 100%;
  
    display: flex;
    justify-content: center;
    color: #fffdfd;
    padding: 0.5vw 0vw;
    /* margin-right: 4%; */
  }
  @media (max-width:480px) {
  .section-common--heading{
    /* height: 30vh; */
    padding: 20px;
    font-size: 7vw;
    background: linear-gradient(
    to top right,
    #ebf3fe
    #ebf3fe
    #000000,
    
    #b3d2ff,
    #b3d2ff,
    #3d86fa,
    #3d86fa,
    
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  }
  .container{
  
    width: 100%;
    height: 20vh;
    padding: 0vw;
  }
  .header-text{
    padding-top: 1.2vw;
    font-size: 6vw;
    width: 100%;
  }
  .sigining{
    padding: 3vw;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.855);
    
  }
     .sign{
      display: none;
     }
      
#productCartContainer {
  display: flex;
  flex-direction: column;
  gap: 4vw;
  margin-top: 0px;
  /* background-color: pink; */
  & .cards {
    width: 100%;
    max-width: 100%;
    margin: 0;
    box-shadow: 0 0;
    border-top: 0.1rem solid #d8d8d8;
    border-right: 0.1rem solid #d8d8d8;
    border-left: 0.1rem solid #d8d8d8;
    border-radius: 0;
    &:last-child {
      border-bottom: 0.1rem solid #fb0505;
    }
    
  }
  
  & .card {
    padding: 3vw;
    width: 100%;
    display:flex;
    flex-direction: column;
    /* grid-template-columns: 0.5fr 0.5fr 1fr 0.5fr 1fr 1fr; */
    /* align-items: center; margin: auto; */
    gap: 4rem;
    height: 35vh;
    border: #000000 solid 1px;
    background-color:rgba(255, 192, 203, 0.308);
  }

  & .productImage {
    
    width: 12rem;
  }

  & .productName {
    font-size: 2.5rem;
    font-weight: 900;
  }

  & .productPrice {
    font-weight: 700;
    font-size: 3rem;
  }

  & .productActualPrice {
    font-size: 1.6rem;
  }
}
.cart-container-name-image{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.category {
  /* display: none; */
  background-color: #e7d6d6;
  padding: 0.7rem 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  
}
.cards{
  display: flex;
    flex-direction: column;
    gap: 4vw;
}
.productRating {
  color: #e9db16;
}

.productPrice,
.productActualPrice {
  font-size: 4%;
}

.productActualPrice {
  text-decoration: line-through;
}

.productCartTotalElem {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-top: 8rem;
  margin-bottom: 12rem;
  padding: 3vw;
  

}

.productCartTotalElement {
  padding: 2.4rem;
  background-color: var(--backgroundSecondary);
  height: 30rem;
  width: 100%;
  font-size: large;
  font-weight: 900;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  background-color: #b3d2ff;
}

.productOrderTotal {
  /* background-color: rgb(60, 60, 60); */
  max-width: 30rem;

  & div {
    display: flex;
    justify-content: space-between;
   
    margin-top: 3.2rem;

    p {
      color: #8c9299;
    }

    .productSubTotal,
    .productFinalTotal,
    .productTax {
      
      color: var(--textColor);
      font-weight: bold;
    }
  }
}
.stockElement>div{
  padding: 2vw;
  display: flex;
  
  gap: 5vw;
  font-size: 5vw;
  font-weight: 800;
}
.stockElement{
  padding: 2vw;
  display: flex;
  
  gap: 18vw;
  font-size: 5vw;
}
.productPrice::before {
  content: "₹"; /* Adds the rupee sign */
  margin-right: 4px; /* Optional: Adds some space between the rupee sign and the price */
  font-weight: bold; /* Optional: Makes the rupee sign bold for emphasis */
  font-size: inherit; /* Matches the font size of the price */
  color: inherit; /* Matches the color of the price */
}
.cartIncrement,.cartDecrement{
  width: 9vw;
  font-weight: 800;
  background-color: #b3d2ff;
  height: 6vw;
}
.remove-to-cart-button{
   width: 70%;
   height: 9vw;
   background-color:#b3d2ff;
}
footer{
  /* padding: 1vw; */
  margin-top: 2vw;
  height: 49vh;
  width: 92%;
  background-color: rgb(0, 0, 0);
  display: none;
  margin: 2vw 4%;

}
.footer-content{

  color: white;
  display: flex;
  flex-direction: column;
  
}

.footer-logo-div1>img{
  width:15vw;
}
.main-footer{
  display: flex;
  justify-content: space-between;
  gap: 4vw;
  padding: 3vw;
}

.footer-divisions{
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}
.footer1{
  display: flex;
  flex-direction: column;
  justify-content:unset;
  gap: 3vh;
  width: 50%;
  word-wrap:break-word;
  
}

.company-footer{
  background-color: #000000;
  /* margin-top: 4vh; */
  height: 5vh;
  width: 100%;

  display: flex;
  justify-content: center;
  color: #fffdfd;
  padding: 0.5vw 0vw;
  /* margin-right: 4%; */
}
.productPrice{
  font-size: larger;
}}
.productPrice{
  font-size: larger;
}
.remove-to-cart-button:hover{
   background-color:aquamarine;
}
.cartIncrement:hover,.cartDecrement:hover{
  background-color: aquamarine;
}